.info-card {
    width: 300px;
    min-height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8em;

    text-align: center;

    padding: 1em;
    border: 1px solid #191d1f;
}

