#navbar {
    font-size: 1.4rem;
    
    padding: 1em 0;
    border-bottom: .1rem solid rgba(61, 66, 70, .08);
    box-shadow:  -1px 1px 5px #00000047;
}

#navbar:hover {
    cursor: default;
}

.nav-list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

    padding: 0;
    list-style-type: none;
}

.nav-item:last-of-type {
    position: absolute;
    right: 20px;
}
